@import './base.css';


body{
  
  max-width: 100vw;
  background: url("../assets/post.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#app{
  max-width: 100vw;
}
main{
  max-width: 99vw;
    min-height: 84vh;
    z-index: 1;    
    margin-bottom: 6rem;
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}